---
title: Corretoras no Exterior
description: |
  Tabela comparativa colaborativa de corretoras no exterior para residentes fiscais brasileiros.
  Compare custos, benefícios, e características de corretoras internacionais.
layout: application
structure:
  null:
    link:
      text: Endereço
  Custos:
    deposito_min_abertura:
      text: Depósito mínimo para abertura
    abertura:
      text: Taxas de abertura (W-8 e outros)
    corretagem_eua:
      text: Taxa de Corretagem mercado Americano
    corretagem_lse:
      text: Taxa de Corretagem mercado Britânico (LSE) em dólar
    deposito_eua:
      text: Taxa de Depósito EUA
    saque_eua:
      text: Taxa de Retirada EUA
    spread_brasil:
      text: Taxa Spread de Depósito/Retirada Brasil
    acats:
      text: Custo para transferência para outra corretora (ACATS)
    inatividade:
      text: Manutenção por inatividade
  Proteção:
    sipc:
      text: SIPC
    seguro:
      text: Seguro Adicional por Conta
  Atendimento:
    telefone:
      text: Via Telefone
    email:
      text: Via Email
    chat_humano:
      text: Humano via Chat web em tempo real
    horarios:
      text: Horários de Atendimento
    idiomas:
      text: Idiomas de Atendimento
  Produtos Financeiros:
    eua_acoes:
      text: 'EUA: Ações, ETFs, REITs, ADRs'
    eua_outros:
      text: 'EUA: Opções, Futuros, Renda Fixa'
    intl_acoes:
      text: 'Fora dos EUA (Internacional): Ações, ETFs, REITs, ADRs'
    intl_outros:
      text: 'Fora dos EUA (Internacional): Opções, Futuros, Renda Fixa'
    crypto:
      text: Criptomoedas
    fracoes:
      text: Fração de Ações
    ach_pull:
      text: Link com conta bancária americana (com ACH Pull)
    cartao_debito_fisico:
      text: Cartão de débito americano (dólar) físico entregue no Brasil
    cartao_debito_virtual:
      text: Cartão de débito americano (dólar) virtual
    cartao_credito_fisico:
      text: Cartão de crédito americano (dólar) físico entregue no Brasil
    residentes_fiscais:
      text: Exclusiva para residentes do Brasil
    relatorio_irpf_brasil:
      text: Relatório IR brasileiro
    joint:
      text: Conta conjunta (Joint account)
    margin:
      text: Conta margem (alavancagem)
    offshore:
      text: Abertura para offshore
    conta_bancaria:
      text: Conta Bancária
    conta_remunerada:
      text: Juros sobre saldo em conta corrente
  Sobre a instituição:
    ano_fundacao:
      text: Ano de fundação
    sede:
      text: Sede
    funcionarios:
      text: Número de funcionários (aproximado)
    aum:
      text: AUM (Patrimônio de clientes sob gerência)
    clientes:
      text: Número de clientes
    observacoes:
      text: Observações adicionais
  Indicação:
    referral:
      text: Código ou link de indicação
---

<section class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-900 p-4 mt-6 mx-4 rounded-md shadow-md">
  <p class="text-md font-semibold">Aviso:</p>
  <p class="text-sm mt-1">
    Esta tabela é apenas informativa. Não nos responsabilizamos por eventuais mudanças nas taxas e condições das corretoras.
    Recomendamos que você verifique diretamente no site da corretora. Se qualquer informação estiver incompleta ou incorreta,
    por favor, abra uma "<a href="https://github.com/jmonteiro/comparaconta/issues" target="_blank">Issue</a>" em
    <a href="https://github.com/jmonteiro/comparaconta" target="_blank">
      jmonteiro/comparaconta
    </a>.
  </p>
</section>

<main class="py-6 px-4 w-full h-auto overflow-x-auto">
    <div class="w-full">
      <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
        <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <tr>
          <th>
            &nbsp;
          </th>
          <% CorretoraExterior.all.each do |corretora| %>
            <th class="py-3 px-6 text-center font-medium w-1/5">
              <%= corretora.nome %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody class="text-gray-700 text-sm">
        <% current_page.data.structure.each do |section, fields| %>
          <% if section %>
            <tr class="bg-gray-200 text-gray-600 text-sm leading-normal">
              <td class="py-3 px-6 text-left font-medium" colspan="<%= CorretoraExterior.all.count + 1 %>">
                <%= section %>
              </td>
            </tr>
          <% end %>
          <% fields.each do |key, contents| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left font-medium">
                <%= contents["text"] %>
              </td>
              <% CorretoraExterior.all.each do |corretora| %>
                <td class="py-3 px-6 text-center">
                  <%= render "partials/cell", cell: corretora.send(key) %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
